<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
  xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="[ TEST ][%-5p] %d{yyyy-MM-dd HH:mm:ss} %c:%L - %m%n" />
	    </layout>
	</appender>

	<!-- Set Logging Level to WARN for a individual class --> 
	<logger name="org.jboss.weld"> 
		<level value="WARN" /> 
	</logger> 
	
	<!-- Set Logging Level to WARN for a individual class --> 
	<logger name="org.hibernate"> 
		<level value="WARN" /> 
	</logger> 
	
	<!-- Set Logging Level to WARN for a individual class --> 
	<logger name="ch.bytecrowd"> 
		<level value="DEBUG" /> 
	</logger> 
	

	<root>
		<level value="WARN" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
